@import url('https://fonts.googleapis.com/css?family=Raleway');
.radix-site-nav {
  
  background-color: #58B19F;
      color: rgba(255, 255, 255, 1);
  
}
.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
    background-color: #1d7d74;
	text-transform:white;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}
.btn, .btn-large, .btn-small {
	font-size: 14px;
	border: none;
    border-radius: 2px;
	height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
::selection {
  background: #f78fb3; /* WebKit/Blink Browsers */
  color:white;
}
::-moz-selection {
  background: #f78fb3;  /* Gecko Browsers */
  color:white;
}
body{
	/* background:url('assets/background.jpg');
	background-size:cover;
	background-position: center;
    background-size: cover; */
	font-family:'Raleway';
}
d-title h1{
	font-weight: normal;
}
d-title h1,d-title p{
	text-transform:uppercase;
	text-align: center;
	grid-column: screen;
}
d-article>p {
    text-align: left;
}
#record-scratch,#freeze-frame{
	text-align:center;
	margin-top:1em;
}

d-article>div>p>img {
        border-radius: 300px;
    width: 300px;
    height: 300px;
}
